telegram_bot/.idea/
/telegram_bot/venv/
/.idea
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
/telegram_bot/Pipfile
/telegram_bot/Pipfile.lock
/telegram_bot/config.py
main.py
telegram_bot/botuploads.db
site_parser/.idea/
telegram_bot/keyboards.py
site_parser/*

