{% extends "base.html" %}

{% block content %}
    <h1>Add Question</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.essence.label }}<br>
            {{ form.essence(size=32) }}<br>
            {% for error in form.essence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.supposed_answer.label }}<br>
            {{ form.supposed_answer(size=64) }}<br>
            {% for error in form.supposed_answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.max_grade.label }}<br>
            {{ form.max_grade(size=32) }}<br>
            {% for error in form.max_grade.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.short_description.label }}<br>
            {{ form.short_description(size=32) }}<br>
            {% for error in form.short_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}