{% extends "base.html" %}

{% block content %}
    <h1>Add Interview</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.candidate.label }}<br>
            {{ form.candidate(size=32) }}<br>
            {% for error in form.candidate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.questions.label }}<br>
            {{ form.questions(size=64) }}<br>
            {% for error in form.questions.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.interviewers.label }}<br>
            {{ form.interviewers(size=32) }}<br>
            {% for error in form.interviewers.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}