{% extends "base.html" %}

{% block content %}
<body>
<main class="text-center">
    <h1>Add Question</h1>
    <form action="" method="post" class="text-center">
        {{ form.hidden_tag() }}
        <p>
            {{ form.essence.label }}<br>
            {{ form.essence(size=32) }}<br>
            {% for error in form.essence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.supposed_answer.label }}<br>
            {{ form.supposed_answer }}<br>
            {% for error in form.supposed_answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.short_description.label }}<br>
            {{ form.short_description(size=32) }}<br>
            {% for error in form.short_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</main>
</body>

{% endblock %}