{% extends "base.html" %}

{% block content %}
    <h1>Schedule Interviews</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for error in form.question.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        
        {% from "_formhelpers.html" import render_field %}
        
            {{ form.question.label}}
            {{ form.question(size=32)}}
            
            <dl>
                {{ render_field(form.candidate) }}
                {{ form.hidden_tag() }}
                {% for error in form.candidate.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ render_field(form.interviewer) }}
                {{ form.hidden_tag() }}
                {% for error in form.interviewer.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </dl>
                {{ form.date.label}}
                {{ form.date(class="dtpick") }}
                {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <dl>
                {{ render_field(form.start_time) }}
                {{ render_field(form.end_time)}}
            </dl>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}