{% extends "base.html" %}

{% block content %}
    <h1>Edit Grade</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.interview.label }}<br>
            {{ form.interview(size=32) }}<br>
            {% for error in form.interview.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.interviewer.label }}<br>
            {{ form.interviewer(cols=50, rows=4) }}<br>
            {% for error in form.interviewer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.question.label }}<br>
            {{ form.question(cols=50, rows=4) }}<br>
            {% for error in form.question.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.grade.label }}<br>
            {{ form.grade(cols=50, rows=4) }}<br>
            {% for error in form.grade.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}