{% extends "base.html" %}

{% block content %}
    <h1>Edit Question</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.essence.label }}<br>
            {{ form.essence(size=32) }}<br>
            {% for error in form.essence.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.supposed_answer.label }}<br>
            {{ form.supposed_answer(cols=50, rows=4) }}<br>
            {% for error in form.supposed_answer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.short_description.label }}<br>
            {{ form.short_description(cols=50, rows=4) }}<br>
            {% for error in form.short_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}