{% extends "base.html" %}

{% block content %}
    <table>
            <tr valign="top">
                <td>
                    <p>Interview: {{ grade.interview_id }}</p>
                    <p>Question: {{ grade.question_id }}</p>
                    {% for ui in grade.rater_id %}
                        <p>Interviewer: {{ ui.username }}</p>
                    {% endfor %}
                    <p>Grade: {{ grade.grade }}</p>
                    {% if grade == request.form %}
                    <p><a href="{{ url_for('edit_grade') }}">Edit grade</a></p>
                    {% endif %}
                </td>
            </tr>
        </table>
{% endblock %}