{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>Available users:</h2>
    <p><a href="{{ url_for('add_user') }}">Add new user</a></p>
    {% for user in users %}
        <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h3>{{ user.username }}</h3>
                {{ user.first_name }} {{ user.last_name }}
                <br>
                <p>Email: {{ user.email }}</p>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            </td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}