{% extends "base.html" %}

{% block content %}
    <h1>Interviews</h1>
    <p><a href="{{ url_for('add_interview') }}">Add new interview</a></p>
    {% for interview in inws %}
        <table>
            <tr valign="top">
                <td>
                    <h3>Interview details:</h3>
                    {% for question in interview.questions %}
                    <p>Question: {{ question }}</p>
                    {% endfor %}
                    {% for user in interview.interviewers %}
                        <p>Interviewer: {{ us.username }}</p>
                    {% endfor %}
                    <p>Grade: {{ interview.grade }}</p>
                    <p>Date: {{ interview.date }}</p>
                    <p>Start time: {{ interview.start_time }}</p>
                    <p>End time: {{ interview.end_time }}</p>
                    {% if interview == request.form %}
                    <p><a href="{{ url_for('edit_interview') }}">Edit interview</a></p>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}