{% extends "base.html" %}

{% block content %}
    <h1>Interviews</h1>
    <p><a href="{{ url_for('add_interview') }}">Add new interview</a></p>
    {% for interview in inws %}
        <table>
            <tr valign="top">
                <td>
                    <h3>Interview details:</h3>
                    <p><a href="{{ url_for('interview', id=interview.id) }}">View Interview</a></p>
                    {% for question in interview.questions %}
                    <p>Question: {{ question }}</p>
                    {% endfor %}
                    {% for user in interview.interviewers %}
                        <p>Interviewer: {{ user.first_name }} {{ user.last_name }}</p>
                    {% endfor %}
                    {% if interview == request.form %}
                    <p><a href="{{ url_for('edit_interview') }}">Edit interview</a></p>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}