{% extends "base.html" %}

{% block content %}
    <table>
            <tr valign="top">
                <td>
                    <h3>Interview details:</h3>
                    <h4>Candidate: {{ interview }}</h4>
                    <h4>Questions:</h4>
                    {% for question in interview.questions %}
                    <p>{{ question }}</p>
                    {% endfor %}
                    <h4>Interviewers:</h4>
                    {% for user in interview.interviewers %}
                    <p>{{ user }}</p>
                    {% endfor %}
                    <h4>Final Grade: {{ interview.final_grade }}</h4>
                    {% if grade == request.form %}
                    <p><a href="{{ url_for('edit_interview') }}">Edit interview</a></p>
                    {% endif %}
                </td>
            </tr>
        </table>
{% endblock %}