{% extends "base.html" %}

{% block content %}
    {% if current_user.is_admin %}
    <p><a class="btn btn-outline-dark me-2" role="button" href="{{ url_for('add_interview') }}">Add new interview</a></p>
    {% endif %}

        <table class="table table-light table-striped caption-top">
            <caption><h4>Your Interviews</h4></caption>
            {% for interview in inws %}
            <tr valign="top">
                <td>
                    <p>Interview ID: {{ interview.id }}</p>
                    <p><a class="btn btn-outline-dark me-2" role="button" href="{{ url_for('interview', id=interview.id) }}">View Interview</a></p>
                    <p>Candidate: {{ interview }}</p>
                    <p>Questions:</p>
                    {% for question in interview.questions %}
                    <p>{{ question }}</p>
                    {% endfor %}
                    <p>Interviewers:</p>
                    {% for user in interview.interviewers %}
                    <p>{{ user }}</p>
                    {% endfor %}
                    <p>Final Grade: {{ interview.final_grade }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}