{% extends "base.html" %}

{% block content %}
    {% if current_user.is_admin %}
    <p><a class="btn btn-outline-dark me-2" role="button" href="{{ url_for('add_question') }}">Add new question</a></p>
    {% endif %}

        <table class="table table-light table-striped caption-top">
            <caption><h4>Questions</h4></caption>
            <thead>
            <th scope="col">Question</th>
            <th scope="col">Short Description</th>
            <th scope="col">Supposed Answer</th>
            <th scope="col">Max Grade</th>
        </thead>
        <tbody>
            {% for question in qs %}
            <tr>
                <td>{{ question.essence }}</td>
                <td>
                    {{ question.short_description }}
                    <br>
                    <a class="btn btn-outline-dark me-2" role="button" href="{{ url_for('question', id=question.id) }}">View Question</a>
                </td>
                <td>{{ question.supposed_answer }}</td>
                <td>{{ question.max_grade }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
{% endblock %}