{% extends "base.html" %}


{% block content %}
    <table>
        <tr>
            <td>
                <img src="{{ user.avatar(170) }}">
            </td>
            <td>
                <h4>User: {{ user.username }}</h4>
                <p>{{ user.first_name }} {{ user.last_name}}</p>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a class="btn btn-outline-dark me-2" role="button" href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <table class="table table-light table-striped caption-top">
        <caption><h4>Your Interviews</h4></caption>
        <tbody>
            {% for interview in user.interviews %}
            <tr valign="top">
            <td>
                <p>Interview ID: {{ interview.id }}</p>
                <p>Candidate: {{ interview }}</p>
                <p>Questions:</p>
                {% for question in interview.questions %}
                    <p>{{ question }}</p>

                    <a class="btn btn-outline-dark me-2" role="button" href="http://localhost:5000/add_grade/{{user.username}}/{{question.id}}/{{interview.id}}" class="btn">Add Grade</a>

                    {% for grade in question.grades %}
                        {% if grade.question_id == question.id  and grade.interviewer_id == user.id and grade.interview_id == interview.id %}
                            <p>Your Grade: {{ grade.grade }}</p>
                        {% endif %}

                    {%endfor %}
                {% endfor %}
                <p>Final Grade: {{ interview.final_grade }}</p>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-light table-striped caption-top">
        <caption><h4>Questions</h4></caption>
        <thead>
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
        </thead>
        <tbody>
        {% for question in questions %}
        <tr>
            <td>{{ question.essence }}</td>
            <td>{{ question.supposed_answer }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}