<html>
    <head>
        <style type="text/css">
            body {
                background: #FFE4B5;
                color: #FF4500;
            }
            div.container {
                max-width: 500px;
                align-items: center;
                margin: 50px auto;
                border: 10px solid white;
                padding: 10px;
                text-align: center;
            }
            h4{
            text-transform: uppercase;
            }
        </style>
    </head>
    <body>
        <button><a href="/">Change fox</a></button>
        <div class="container">
            <h4>Fox of the day</h4>
            <img src="{{url}}" height="70%" width="80%"  />
        </div>
    </body>
</html>